// @import '~bootstrap/dist/css/bootstrap.css';

@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background: $brand-theme-color-primary;
  font-size: $base-font-size;
  color: $primary-text-color;
  font-size: 16px;
  overflow-x: hidden;

  h3 {
    font-size: 28px;
  }
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}

.loaderCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors {
  color : $brand-danger
}

.horizontal-line {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid $brand-mute;
  line-height: 0em;
  margin: 10px 0 20px;
}

.horizontal-line-text {
  background: $brand-theme-color-secondary;
  padding:0 100px;
}

.checkbox-footer {
  height: 27px;
  transform: scale(1.5);
}

// FLOWBITE OVERRIDE

[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $brand-bg-input!important;
  border-radius: 0.5rem!important;
  border-width: 1px!important;
  border-color: $brand-bg-input!important;
  font-size: 0.80rem!important;
  line-height: 1.5rem!important;
}

// END FLOWBITE OVERRIDE

/* width */

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}


/* Track */

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: $brand-theme-color-secondary;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background-color: rgb(165, 168, 172);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(165, 168, 172, 0.7);
}


/* Handle on active*/

::-webkit-scrollbar-thumb:active {
  background-color: rgb(165, 168, 172, 0.7);
}


/* Buttons */

::-webkit-scrollbar-button:single-button {
  background-color: $brand-theme-color-secondary;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}


/* Up */

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  width: 16px;
  background-position: center 5px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172)'><polygon points='50,00 0,50 100,50'/></svg>");
}


::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='50,00 0,50 100,50'/></svg>");
}


/* Down */

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  width: 16px;
  background-position: center bottom;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='0,0 100,0 50,50'/></svg>");
}


/* Left */

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 16px;
  width: 16px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='0,50 50,100 50,0'/></svg>");
}


/* Right */

::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 16px;
  width: 16px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(165, 168, 172, 0.7)0'><polygon points='0,0 0,100 50,50'/></svg>");
}

// OVERRIDE CKEDITOR

.ck .ck-toolbar__items {
  font-size: 10px!important;
}
.ck-editor__editable {
  // min-height: 200px!important;
  // resize: vertical;
  // overflow: auto;
  color: black;
  word-break: break-all;
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
  flex-wrap: wrap!important;
}

// END OVERRIDE CKEDITOR

// .multiselect__element {
//   height: $ui-input-height;
//   .multiselect__option {
//     line-height: 2;
//   }
// }

.multiselect {
  width: 200px;
  min-height: unset;
  background-color: white;
  border-radius: $ui-default-border-radius;
  .multiselect__select /*arrow styles*/ {
    // if select got too much height chage those 
    padding-top: 12px;
    padding-bottom: 12px;
    height: $ui-input-height;
  }
  .multiselect__tags /*input warpper*/ {
    background: transparent;
    width: 100%;
    min-width: unset;
    display: flex;
    align-items: center;
    // *
    height: $ui-input-height;
    min-height: unset;
    padding-top: 0;
    justify-content: flex-start;
    // *
    padding-left: 12px;
    .multiselect__single,
    .multiselect__placeholder,
    .multiselect__input /*inside input, placeholder and search input */{
      background: transparent;
      margin: 0;
      padding: 0;
      background-color: white!important;
      border: none!important;
      outline: none!important;
      box-shadow: none!important;
    }
  }
}
.multiselect__option--highlight {
  background-color: $brand-theme-color-secondary!important;
}
.multiselect__option--highlight:after {
  background-color: $brand-bg-input!important;
}
.multiselect__loading-enter {
  color: $brand-bg-input!important
}
.multiselect__spinner {
  height: 95%!important;
  &:before {
    border-top-color: $brand-bg-input!important
  }
  &:after {
    border-top-color: $brand-bg-input!important
  }
}
.multiselect__tags-wrap {
  display: flex!important;
  flex-wrap: nowrap!important;
}
.multiselect__tag {
  min-width: 70px!important;
}
.multiselect__strong {
  line-height: 1!important;
  width: 100px!important;
  font-size: 10px!important;
  margin-right: 8px;
}

.ellipsis {
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; /* keeps the element from overflowing its parent */
}

i.fa {
  -webkit-animation: show 1s 1;
  /* any other properties to override from FontAwesome's default .fa rule */
} 

@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.trumbowyg-editor-box {
  resize: vertical;
  overflow: hidden;
}